*{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
}
img{
	border: none;
}
#div1{
	width: 1000px;
	height: 440px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
#div1 ul{
	position: absolute;
	left: 0px;
}
#div1 ul li{
	float: left;
}
#div1 ul li img{
	position: relative;
}

#btn{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
}
#btn a{
	cursor: pointer;
	display: inline-block;
	width: 11px;
	height: 11px;
	background: #666666;
}
#btn a.active{
	background: white;
}
#div1 .prev ,#div1 .next ,#div1 .stop{
	width: 40px;
	height: 40px;
	background: red;
	color:white;
	text-align: center;
	line-height: 40px;
	position: absolute;
	top:200px;
}
#div1 .prev{
	top:200px;
	left: 0px;
}
#div1 .next{
	right: 0px;
}
#div1 .stop{
	top:400px;
	right:0px;
}
